@using FirstDemo.Majors;
@{
    ViewData["Title"] = "Home Page";
}
@model List<MajorViewModel>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-success" href="/Home/Create">Create major</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Major Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.MajorName</td>
                    <td><a class="btn btn-danger" href="/Home/Update?majorId=@item.Id">Update</a></td>
                    <td>
                        <form action ="/Home/Delete" method ="post">
                            <input name="majorId" hidden type="text" value="@item.Id">
                            <button class="btn btn-danger">Delete</button>

                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
